.counter {
  border-bottom: solid 1px var(--border);
  max-width: 80px;
  width: 100%;
  color: var(--text-color);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  box-sizing: border-box;
  transition: all 500ms ease-in;
}

.counter_alarm {
  box-shadow: 0 0 10px 5px #d60b0b;
}