.theme__light {
  --page-color: #1e272e;
  --bg-color: #cbcacd;
  --shadow-color-1: #747375;
  --shadow-color-2: #ffffff;
  --border: #000;
  --text-color: #000;
  --bg-button: #cbcacd;
  --text-color-disable: #747375;
}