.theme__dark {
  --bg-color: #1d1f21;;
  --shadow-color-1: #d3d9df;
  --shadow-color-2: #d3d9df;
  --border: #fff;
  --text-color: #fff;
  --bg-button: #1d1f21;
  --text-color-disable: #747375;
  --cover-color: #747375;
}
