.cell {
  width: var(--size-cell);
  height: var(--size-cell);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
}

.cell:hover {
  cursor: pointer;
}
