.board {
  display: flex;
  flex-direction: column;
  justify-content : center;
  align-items: center;
  border: 1px solid var(--border);
  padding: var(--size-padding-board);
  gap: var(--size-padding-cell);
}
