.setting {
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--text-color);
  user-select: none;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  transition: all 500ms ease-out;
}

.setting:hover {
  background: var(--bg-color);
  box-shadow: 5px 5px 11px var(--shadow-color-1),
    -5px -5px 11px var(--shadow-color-2);
}