input[type="checkbox"] + .setting__theme {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

input[type="checkbox"]:disabled + .setting__theme {
  background-color: aqua;
} /* выключенный */

input[type="checkbox"]:checked + .setting__theme {
  /* background-color: var(--bg-color); */
} /* выбранный */

input[type="checkbox"]:focus + .setting__theme {
  /*border: 1px solid red;*/
} /* в фокусе */

